@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;  
}

body {
    margin: 0px;
}

input {
    display: block;
    border: 1px solid black;
}

h1 {
    margin:  0 auto;
    text-align: center;
    padding-top: 15px;
    text-shadow: 2px 3px green;
}

p {
    width: 75%;
    text-align: center;
    transform: translateX(15%);
    font-size: 1.5rem;
    /* font-weight: 400; */
}

form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* position: absolute; */
    /* right: 50%; */
    /* top: 50%; */
}

input {
    text-align: center;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: #fff;
}

.dropdown {
    margin-top: 20px;
}

.radio {
    display: flex
}

.radio>label {
    margin-left: -25px;
}

.checkbox {
    display: flex;
}

.checkbox > label {
    margin-left: -25px;
}

.last-div {
    display: flex;
    margin-top: 35px;
}

.last-div-1 {
    /* width: 25%; */
    /* flex: 1 0 auto; */
}

.last-div > h2 {
    font-size: 1.4rem;
}

.textarea{
    margin-left: 20px;
    /* display: flex;
    flex-direction: column; */
}
.textarea button{
    width: 20%;
}

button {
    margin: 20px;
}